[submodule "dependencies/paho.mqtt.c"]
	path = dependencies/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "dependencies/paho.mqtt.cpp"]
	path = dependencies/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "src/topic_tools"]
	path = src/topic_tools
	url = https://github.com/ros-tooling/topic_tools.git
[submodule "src/ros1_bridge"]
	path = src/ros1_bridge
	url = git@github.com:SensorSurf/ros1_bridge.git
